body {
  background-image: url("./img/aaron-burden-xtIYGB0KEqc-unsplash.jpg");
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  margin: 0;
  font-family: "Roboto Mono", monospace;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: antiquewhite;
}

h1 {
  font-size: 4rem;
  margin-top: 5rem;
}

.user-inputBox #dateInput {
  width: 80%;
  height: 40px;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
}
.user-inputBox .clickButton {
  width: 50px;
  height: 45px;
  padding-top: 10px;
}
.countdown-container {
  display: flex;
  font-weight: normal;
  flex-wrap: wrap;
}
.countdown-container .countdown-el {
  text-align: center;
}
.countdown-container .big-text {
  font-size: 6rem;
  line-height: 1;
  margin: 0 2rem;
}
.countdown-container .countdown-el span {
  font-size: 1.5rem;
  font-weight: bolder;
}
